
.footer{
text-align: center;
}


.job-list,
.company-list {
  margin-top: 15px;
}

.job-box,
.com-box  {
    padding: 13px;
    border: solid 1px #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

.read_more {
	text-align: center;

}

.nav-pagination {
	text-align: center;
}
.job-item {
    border: 1px solid #eee;
    border-left: 5px solid #00b38a;
    padding: 15px 10px;
    margin-bottom: 15px;

}

.job-salary {
	color: red
}

.form {
    width: 400px;
    margin: 0 auto;
}