{% extends 'base.html' %}
{% from "macros.html" import render_pagination %}
<title>{% block title %}职位{% endblock %}</title>
{% block body %}
<div class="container">
	<div class="jumbotron">
	
		<h1>Just a test</h1>
		<p>Wahahaha</p>
	</div>
</div>

<div class="job-list">
<div class="container">
{% if pagination.items %}
{% for job in pagination.items %}
	<div class="col-sm-6 col-md-4">
		<div class="job-box">
			<div class="caption">
				<a href="{{ url_for('job.job_details',job_id=job.id)}}">
					<b>{{ job.jobname }}</b>
					<span class="timesince">  {{(time-job.created_at).days}} 天前</span>
					<p>经验{{job.exprience }}年</p>
					<span class="label label-default">{{job.job_description}}</span>
				</a>

			</div>
		   
		</div>
	</div>
{% endfor %}
{% else %}
<span><font color="red"><br>目前还没有职位发布</font></span>
{% endif %}
</div>
</div>
{{ render_pagination(pagination,'job.index')}}
{% endblock %}