{% extends 'base.html' %}
{% block body %}
<div class="container-fluid header">
	<div class="jumbotron">
		<div class="container">
		<h2>{{ job.jobname }}</h2>
		<span class="timesince"> {{ (time-job.created_at).days}} 天前发布</span>
		<p>
		<span class="job-salary"> {{ job.salary_min }} - {{job.salary_max }}元</span>
		<span> 经验{{ job.exprience }}年</span>
		</div>
		</p>
	</div>
</div>
<div class="container">
	<div class="col-md-8">
		<div class="job_details">
			<h3>职位标签</h3>
			<p>{{ job.job_description }}</p>
			<br>
			<h3>职位描述</h3>
			<p>{{ job.job_requirement }}</p>
		</div>
	</div>
	<div class="col-md-4">
		<a href="{{ url_for('front.company_details',company_id=company[0].id) }}"  style="text-decoration:none;">
		<h4>这里放公司logo</h4>
		<h4>{{ company[0].company_name }} </h4>
		<p>领域:企业类型</p>
		<p>城市:{{ company[0].company_location}}</p>
		</a>
	</div>

</div>
{% endblock %}