{% extends 'base.html' %}
{% block title %}
{{ job.jobname }}
{% endblock %}
{% block body %}
<div class="container-fluid header">
    <div class="jumbotron">
        <div class="container">
            <div class="col-md-8">
            <h2>{{ job.jobname }}</h2>
                <span class="timesince"> {{ (time-job.created_at).days}} 天前发布</span>
                <p>
                <span class="job-salary"> {{ job.salary_min }} - {{job.salary_max }}元</span>
                <span> 经验{{ job.exprience }}年</span>
            </div>
            <div class="col-md-4">
            {% if current_user.is_authenticated %}
                {% if not job.current_user_is_applied %}
                  <a href="{{ url_for('job.apply', job_id=job.id) }}"class="btn btn-success btn-lg dilivery-btn">投递简历</a>  
                {% else %}
                  <a href="#"class="btn btn-success btn-lg dilivery-btn" disabled="disabled">已投递</a>
                {% endif %}
            {% endif %}

            </div>
        </div>
        </p>
    </div>
</div>
<div class="container">
    <div class="col-md-8">
        <div class="job_details">
            <h3>职位标签</h3>
            <p>{{ job.job_description }}</p>
            <br>
            <h3>职位描述</h3>
            <p>{{ job.job_requirement }}</p>
        </div>
    </div>
    <div class="col-md-4">
        <a href="{{ url_for('company.company_details',company_id=company.id) }}"  style="text-decoration:none;">
        <h4>这里放公司logo</h4>
        <p>领域:{{ company.field }}</p>
        <p>城市:{{ company.location }}</p>
        </a>
    </div>

</div>
{% endblock %}