<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	{% block head_css %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/main.css">
	{% endblock %}
</head>

<body>
		<nav class="navbar navbar-inverse">
			<div class="container"> 
				{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
				{% for category, message in messages %}
				<div class="alert alert-{{ category }} alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					{{ message }}
				</div>
				{% endfor %}
				{% endif %}
				{% endwith %}
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a class="navbar-brand" href="{{ url_for('front.index')}}">JobPlus</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="{{ url_for('job.index')}}">职位</a></li>
						<li><a href="{{ url_for('company.index')}}">公司</a></li>
						{% if current_user.is_authenticated and current_user.is_company %}
						<li><a href="{{url_for('company.admin_index',company_id=current_user.id)}}">console</a></li>
						{% endif %}
						{% if current_user.is_authenticated and current_user.is_admin %}
						<li><a href="{{url_for('admin.index')}}">console</a></li>
						{% endif %}	
					</ul>
					
					<ul class="nav navbar-nav navbar-right">
						{% if not current_user.is_authenticated %}
						<li><a href="{{url_for('front.userregister')}}">用户注册</a></li>
						<li><a href="{{url_for('front.companyregister')}}">企业注册</a></li>
						<li><a href="{{url_for('front.login')}}">登录</a></li>
						{% else %}
						<li class="dropdown">
							<a href='#' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{current_user.username}}<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="{{ url_for('user.user_detail')}}">Home</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="{{url_for('front.logout')}}">Logout</a></li>
							</ul>
						</li>
						{% endif %}						
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
			</div>
		</nav>

			
		<!-- <div class="container"><p>asdfasdfasdf</p></div> -->
{% block body %}

{% endblock %}

		<div class="footer">
			{% block footer %}
			Designed by louplus8-6
			{% endblock %}
		</div>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</div>


