{% extends 'base.html' %}
{% block body %}
<div class="container-fluid header">
	<div class="jumbotron">
		<div class="container">
		<h2>{{ company.user.username }}</h2>
		<span> {{ company.tags }}</span> <br>
		<span> {{ company.site }}</span>
		</div>
		</p>
	</div>
</div>
<div class="container">
	<div class="col-md-8">		
		<ul id="myTab" class="nav nav-tabs">
			<li class="active"><a href="#home" data-toggle="tab">公司介绍</a></li>
			<li><a href="#job" data-toggle="tab">在招职位({{ job_count }})</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade in active" id="home">
				<span>{{ company.description }}</span>
			</div>
			<div class="tab-pane fade" id="job">
				{% for job in job %}

					<div class="job-item"><a href="{{ url_for('front.job_details',job_id=job.id)}}" style="text-decoration:none;">
						<h3>{{ job.jobname }}</h3>
						<h3></h3>
						<h4><p class="job-salary">{{ job.salary_min }} - {{ job.salary_max }}</p>经验 {{ job.exprience }}年</h4> 
						
						</a>
					</div>


				{% endfor %}
			</div>

		</div>

	</div>
	<div class="col-md-4">
		<h4>公司基本信息</h4>
		<p>领域: {{ company.field }}</p>
		<p>融资: {{ company.finance_stage }}</p>
		<p>城市: {{ company.location }}</p>

	</div>
</div>

{% endblock %}

