{% extends 'base.html' %}
{% from "macros.html" import render_pagination %}
<title>{% block title %}Company{% endblock %}</title>
{% block body %}
<div class="container">
	<div class="jumbotron">
	
		<h1>Todo:Just a test</h1>
		<p>Company</p>
	</div>
</div>

<div class="job-list">
{% for company in pagination.items %}
	<div class="col-sm-6 col-md-4">
		<div class="job-box">
			<div class="caption">
				<a href="#">
					<h3>{{ company.username }}</h3>
				</a>
			</div>
		</div>
	</div>
{% endfor %}
</div>
{{ render_pagination(pagination,'job.job')}}
{% endblock %}
